@model List<BooksWeb.Models.Book>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Book, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @foreach(var book in Model) {
        <span>@book.Title</span><br/>
    }
</body>
</html>